<div class="flex items-start justify-between">
    <div class="text-4xl font-bold leading-none tracking-tight text-green-500 sm:text-3xl">
        Saldo Clientes
    </div>
</div>
<div class="mt-2 flex flex-col items-center">
    <div class="text-secondary mt-5 flex w-full items-baseline justify-left">
        <div class="truncate text-md font-medium">
            Saldo total:
        </div>
        <div class="ml-3 text-red-500 text-md font-semibold">
            {{summaryBalanceClients().saldoTotal | customCurrency  }}
        </div>
    </div>
    <div class="text-secondary mt-5 flex w-full items-baseline justify-left">
        <div class="truncate text-md font-medium">
            Número de Clientes:
        </div>
        <div class="ml-1.5 text-md font-semibold">
            {{summaryBalanceClients().totalClients  }}
        </div>
    </div>
    <div class="text-secondary mt-5 flex w-full items-baseline justify-left">
        <div class="truncate text-md font-medium">
            Saldo Máximo:
        </div>
        <div class="ml-1.5 text-md font-semibold">
            {{summaryBalanceClients().saldoMaximo | customCurrency  }}
        </div>
    </div>
    <div class="text-secondary mt-5 flex w-full items-baseline justify-left">
        <div class="truncate text-md font-medium">
            Saldo Médio:
        </div>
        <div class="ml-1.5 text-md font-semibold">
            {{summaryBalanceClients().saldoMedio  | customCurrency   }}
        </div>
    </div>

</div>
