<div class="flex items-start justify-between">
    <div class="truncate text-lg font-medium leading-6 tracking-tight">
        Saldo Clientes
    </div>
</div>
<div class="mt-2 flex flex-col items-center">
    <div class="text-5xl font-bold leading-none tracking-tight text-red-500 sm:text-4xl">
        R$ 105.835,25
    </div>
    <div class="text-secondary mt-5 flex w-full items-baseline justify-left">
        <div class="truncate text-md font-medium">
            Número de Clientes:
        </div>
        <div class="ml-1.5 text-md font-semibold">
            148.675
        </div>
    </div>
    <div class="text-secondary mt-5 flex w-full items-baseline justify-left">
        <div class="truncate text-md font-medium">
            Saldo Máximo:
        </div>
        <div class="ml-1.5 text-md font-semibold">
            R$ 324.657,00
        </div>
    </div>
    <div class="text-secondary mt-5 flex w-full items-baseline justify-left">
        <div class="truncate text-md font-medium">
            Saldo Médio:
        </div>
        <div class="ml-1.5 text-md font-semibold">
            R$ 149.487,56
        </div>
    </div>

</div>
