<div class="flex min-w-0 flex-auto flex-col">
    <div class="flex-auto p-6 sm:p-10">
        @if (clientHistory().length !== 0) {
        <table mat-table [dataSource]="clientHistory()" class="mat-elevation-z8">

            <ng-container matColumnDef="clienteNome">
                <th mat-header-cell *matHeaderCellDef> Client Nome </th>
                <td mat-cell *matCellDef="let client"> {{client.clienteNome}} </td>
            </ng-container>

            <ng-container matColumnDef="formaPagamento">
                <th mat-header-cell *matHeaderCellDef> Forma Pagamento </th>
                <td mat-cell *matCellDef="let client"> {{client.formaPagamento}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoOperacao">
                <th mat-header-cell *matHeaderCellDef> Tipo Operacao </th>
                <td mat-cell *matCellDef="let client"> {{client.tipoOperacao}} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let client"> {{client.valor}} </td>
            </ng-container>

            <ng-container matColumnDef="horario">
                <th mat-header-cell *matHeaderCellDef> Horario </th>
                <td mat-cell *matCellDef="let client"> {{client.horario}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        }

    </div>
</div>