
// .scroll-container {
//     max-height: 90vh;
//     overflow-y: auto;
//     padding: 0 1rem;
// }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Diminui o espaçamento antes do título */
}


h1 {
    font-size: 2rem;
    color: #3f51b5;
    font-weight: bold;
    margin: 0; /* Remove o espaçamento padrão */
}
@media (max-width: 768px) {
     h1 {
    font-size: 1rem;
    color: #3f51b5;
    font-weight: bold;
    margin: 0; /* Remove o espaçamento padrão */
}
}

.loading-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999;
}
