<div class="flex min-w-0 flex-auto flex-col">
  <div class="flex-auto p-6 sm:p-10">

    <div class="max-w-128">
      <h1 class="text-2xl lg:text-5xl font-bold leading-tight tracking-tight mb-8">Saldo do Cliente</h1>

      @if (showClearButton()) {
      <button class="mb-5 bg-blue-500 text-white" mat-stroked-button (click)="clearInputs()">Limpar</button>
      }

      @if (selectedClient() == null) {
      <mat-form-field class="w-full">
        <mat-label>CPF</mat-label>
        <input
        type="number"
        id="cpf"
        [disabled]="inputDisabled()"
        (input)="handleCpfInput($event)"
        placeholder="Insira pelo menos 4 caracteres para pesquisar"
        #cpfInput
        matInput />
      </mat-form-field>
      }

      @if(noClientFound()){
        <p class="text-red-500 font-bold text-xl">Cliente não encontrado</p>
      }

      <div class="flex flex-wrap gap-2 mb-8">
        @for (client of clients(); track $index) {
        <button mat-stroked-button [class.bg-blue-500]="selectedClient()?.id === client.id"
          [class.text-white]="selectedClient()?.id === client.id" (click)="handleClientSelection(client.id)">
          {{client.nome}}
        </button>
        }
      </div>


      <div [classList]="selectedClient() == null ? 'hidden' : ''">
        <!-- <table mat-table matSort [dataSource]="clientBalanceDataSource()" class="mat-elevation-z8">

          <ng-container matColumnDef="Forma Pagamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma Pagamento </th>
            <td mat-cell *matCellDef="let client"> {{client.formaPagamentoNome }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="Saldo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </th>
            <td mat-cell *matCellDef="let client"> {{client.saldo | customCurrency }} </td>
            <td mat-footer-cell *matFooterCellDef> <strong>{{ getTotalBalance() | customCurrency }}</strong> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table> -->

        <p>
            <span class="font-bold">Saldo:</span>
            <span>{{ totalClientBalance | customCurrency}}</span>
        </p>

    </div>


    </div>

  </div>
</div>
