<h1 class="text-2xl lg:text-3xl font-bold leading-tight tracking-tight mb-8">Caixas</h1>

<mat-dialog-content>

    @if(eventStatus.Aberto == event.estadoEvento){
    <div class="max-w-128">
        <button *ngIf="isRevisor" class="mb-5 bg-blue-500 text-white" mat-stroked-button
            (click)="addCaixa()">Adicionar</button>
    </div>
    }

    <table mat-table [dataSource]="cashiers()" class="border border-gray-300 w-full mt-2">


        <ng-container matColumnDef="operador">
            <th mat-header-cell *matHeaderCellDef class="border border-gray-300 p-2"> Operador </th>
            <td mat-cell class="border border-gray-300 p-2" *matCellDef="let cashier"> {{ cashier.operador }} </td>
        </ng-container>


        <ng-container matColumnDef="valorAbertura">
            <th mat-header-cell class="border border-gray-300 p-2" *matHeaderCellDef> Valor abertura </th>
            <td mat-cell class="border border-gray-300 p-2" *matCellDef="let cashier"> {{ cashier.valorAbertura |
                customCurrency }} </td>
        </ng-container>


        <ng-container matColumnDef="valorDinheiro">
            <th mat-header-cell class="border border-gray-300 p-2" *matHeaderCellDef> Saldo em dinheiro </th>
            <td mat-cell class="border border-gray-300 p-2" *matCellDef="let cashier"> {{ cashier.saldoDinheiro |
                customCurrency }} </td>
        </ng-container>

        <ng-container matColumnDef="saldoTotal">
            <th mat-header-cell class="border border-gray-300 p-2" *matHeaderCellDef> Saldo Total </th>
            <td mat-cell class="border border-gray-300 p-2" *matCellDef="let cashier"> {{ cashier.saldoTotal |
                customCurrency }} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell class="border border-gray-300 p-2" *matHeaderCellDef> Estado </th>
            <td mat-cell class="border border-gray-300 p-2" *matCellDef="let cashier"> {{ cashier.estadoCaixa }} </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th mat-header-cell class="border border-gray-300 p-2" *matHeaderCellDef> Ações </th>
            <td mat-cell class="border border-gray-300 p-2" *matCellDef="let cashier">
                <div class="flex flex-wrap gap-2 py-2">
                    <button class="text-white bg-teal-500" (click)="cashierDetails(cashier)" mat-flat-button>Detalhe do
                        Caixa</button>


                    @if('Aberto' == cashier.estadoCaixa ){

                    <button *ngIf="isRevisor" mat-flat-button (click)="endSellingCashier(cashier)"
                        class="text-white bg-red-500">Encerrar
                        vendas</button>
                    }

                    @if('Vendas Encerradas' == cashier.estadoCaixa ){

                    <button *ngIf="isRevisor" mat-flat-button (click)="endCashier(cashier)"
                        class="text-white bg-blue-500">Fechar
                        caixa</button>
                    }

                    @if( 'Fechado' == cashier.estadoCaixa && '2' == event.estadoEvento){

                    <button *ngIf="isRevisor" mat-flat-button (click)="reOpenCashier(cashier)"
                        class="text-white bg-green-500">Reabrir
                        caixa</button>
                    }
                </div>
            </td>
        </ng-container>

        <thead>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </thead>
        <tbody>
            <tr class="border border-gray-300 p-2" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </tbody>

    </table>



</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
