<div class="flex min-w-0 flex-auto flex-col">



    <div class="flex-auto p-6 sm:p-10">

        <div class="filter-container" style="display: flex; width: 100%;">
            <mat-form-field style="flex: 1;">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="filtro">
            </mat-form-field>
        </div>
        <!-- Client History Table -->
        <table mat-table matSort [dataSource]="dataSource()" class="mat-elevation-z8">

            <ng-container matColumnDef="clienteNome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Cliente </th>
                <td mat-cell *matCellDef="let client"> {{client.clienteNome}} </td>
            </ng-container>

            <ng-container matColumnDef="formaPagamento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma de Pagamento </th>
                <td mat-cell *matCellDef="let client"> {{client.formaPagamento}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoOperacao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Operação </th>
                <td mat-cell *matCellDef="let client"> {{client.tipoOperacao}} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                <td mat-cell *matCellDef="let client"> {{client.valor | customCurrency }} </td>
            </ng-container>

            <ng-container matColumnDef="horario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Horário </th>
                <td mat-cell *matCellDef="let client"> {{client.horario | customDate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
