<div class="flex items-start justify-between">
    <div class="text-4xl font-bold leading-none tracking-tight text-orange-500 sm:text-3xl">
       Resumo Caixas
    </div>
</div>
<div class="mt-2 flex flex-col items-left">


    <div class="mt-5 w-full max-w-md overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200 border border-gray-300">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Caixas</th>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Dinheiro</th>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">PIX</th>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Total</th>
                </tr>
            </thead><tbody class="divide-y divide-gray-200">
                <tr *ngFor="let item of summaryBalanceCashies">
                  <td class="px-4 py-2 text-sm font-medium text-gray-600">{{ item.operador }}</td>
                  <td class="px-4 py-2 text-sm text-gray-900">R$ {{ item.saldoDinheiro | customCurrency }}</td>
                  <td class="px-4 py-2 text-sm text-gray-900">R$ {{ item.saldoPix | customCurrency }}</td>
                  <td class="px-4 py-2 text-sm font-semibold text-green-600">R$ {{ item.saldoTotal | customCurrency }}</td>
                </tr>
              </tbody>

            <tfoot class="bg-gray-100 font-bold">
                <tr>
                    <th class="px-4 py-2 text-left text-sm text-gray-700">Total</th>
                    <th class="px-4 py-2 text-left text-sm text-gray-700">{{ totalDinheiro | customCurrency }}</th>
                    <th class="px-4 py-2 text-left text-sm text-gray-700">{{ totalPix | customCurrency }}</th>
                    <th class="px-4 py-2 text-left text-sm text-green-600">{{ totalGeral | customCurrency }}</th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>
