<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-center md:justify-start">
    <div class="w-full sm:w-auto sm:p-12 md:flex md:w-1/2 md:items-center md:justify-center">
        <div class="mx-auto w-full rounded-2xl p-8 bg-card transition-all shadow  max-w-140 sm:mx-0">

            <!-- Title -->
            <div class="text-4xl font-extrabold leading-tight tracking-tight">
                Entrar
            </div>

            <!-- Alert -->
            @if (showAlert) {
            <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>
            }

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <mat-form-field class="w-full">
                    <mat-label>CPF</mat-label>
                    <input id="email" matInput #emailInput [formControlName]="'email'" />
                    @if (signInForm.get('email').hasError('required')) {
                        <mat-error class="block"> CPF é necessário</mat-error>
                    }

                    @if (signInForm.get('email').hasError('invalidCpf')) {
                        <mat-error class="block"> CPF é inválido</mat-error>
                    }
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
                    <button mat-icon-button type="button" (click)="
                                passwordField.type === 'password'
                                    ? (passwordField.type = 'text')
                                    : (passwordField.type = 'password')
                            " matSuffix>
                        @if (passwordField.type === 'password') {
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        }
                        @if (passwordField.type === 'text') {
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                        }
                    </button>   
                    <mat-error class="block"> Senha é necessário</mat-error>
                </mat-form-field>


                <!-- Submit button -->
                <button class="fuse-mat-button-large mt-6 w-full" mat-flat-button [color]="'primary'"
                    [disabled]="signInForm.disabled" (click)="signIn()">
                    @if (!signInForm.disabled) {
                    <span> Enviar </span>
                    }
                    @if (signInForm.disabled) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>


            </form>
        </div>
    </div>
    <div
        class="login-bg relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-gray-800 p-16 dark:border-l md:flex lg:px-28">
       
        <!-- Content -->
        <div class="login-content relative z-10 w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Bem vindo</div>
                <div>ao SisMaanaim</div>
            </div>
        </div>
    </div>
</div>