<div class="flex min-w-0 flex-auto flex-col">
  <div class="flex-auto p-6 sm:p-10">

    <div>
      <h1 class="text-2xl lg:text-5xl font-bold leading-tight tracking-tight mb-8">
        Histórico de Recarga do Cliente
      </h1>

      <!-- Filtro -->
      <div class="max-w-128 mb-6">
        <mat-form-field class="w-full">
          <mat-label>Filtro</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Filtrar histórico de recarga"
          />
        </mat-form-field>
      </div>

      <!-- Tabela -->
      <div class="flex flex-col">
        <table
          mat-table
          matSort
          [dataSource]="dataSource()"
          class="mat-elevation-z8 full-width"
        >

          <!-- Coluna Data -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
            <td mat-cell *matCellDef="let item">
              {{ item.data | customDate }}
            </td>
          </ng-container>

          <!-- Coluna Descrição -->
          <ng-container matColumnDef="clienteBeneficiario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente Beneficiário</th>
            <td mat-cell *matCellDef="let item">
              {{ item.clienteBeneficiario }}
            </td>
          </ng-container>

          <!-- Coluna Valor -->
          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
            <td mat-cell *matCellDef="let item">
              {{ item.valor | customCurrency }}
            </td>
          </ng-container>

          <!-- Coluna Vencimento -->
          <ng-container matColumnDef="vencimento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vencimento</th>
            <td mat-cell *matCellDef="let item">
              {{ item.vencimento ? (item.vencimento | customDate) : 'N/A' }}
            </td>
          </ng-container>


           <!-- Coluna Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let item">
              {{ item.statusName }}
            </td>
          </ng-container>

          <!-- Coluna Ações -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let item">
              <button
                *ngIf="item.status === 0"
                mat-icon-button
                class="text-green-500"
                matTooltip="Pendente"
                aria-label="Pendente">
                <mat-icon class="text-green-500">hourglass_empty</mat-icon>
              </button>

              <button
                *ngIf="item.status === 1"
                mat-icon-button
                class="text-orange-500"
                matTooltip="Dados PIX"
                aria-label="Dados PIX"
                (click)="openPixDetails(item.id)">
                <mat-icon class="text-orange-500">warning</mat-icon>
              </button>


              <button
                *ngIf="item.status === 2"
                mat-icon-button
                class="text-green-500"
                matTooltip="Confirmado"
                aria-label="Confirmado">
                <mat-icon class="text-green-500">check_circle</mat-icon>
              </button>

              <button
                *ngIf="item.status === 3 || isDataMaiorQueAtual(item.data)"
                mat-icon-button
                class="text-red-500"
                matTooltip="Dados PIX"
                aria-label="Dados PIX">
                <mat-icon class="text-red-500">error</mat-icon>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator
          class="flex-grow"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20, 50]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>

    </div>

  </div>
</div>
