
h1 {
    font-size: 2rem; /* Aumenta o tamanho da fonte */
    color: #3f51b5; /* Muda a cor para um azul mais forte, alinhado com as cores do Material Design */
    font-weight: bold; /* Aplica negrito */
    margin-bottom: 20px; /* Aumenta o espaçamento abaixo do título */
}
.container {
    display: flex;
    width: 100%;
  }

  .left-column, .right-column {
    flex: 1;
  }

  .left-column {
    padding-right: 20px;
  }

  .right-column {
    padding-left: 20px;
  }

  .image-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ajuste para preencher a coluna */
    height: 100%; /* Ajuste para preencher a coluna */
}

.image-container:hover .overlay {
    opacity: 1; /* Certifique-se de que isso está definido para que o overlay apareça ao passar o mouse */
}


.codigo-container {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle; /* Para alinhar com o botão */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6); /* Cor de fundo com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    pointer-events: none; /* Adicionado para evitar que o overlay interfira com a interação do pdf-viewer */
}

.overlay i {
    font-size: 2em; /* Tamanho do ícone */
}


  mat-dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close-button {
    margin-left: auto; /* Empurra o botão para a direita */
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.download-button {
    min-width: 150px;
    transition: box-shadow 0.3s ease-in-out;
}

.download-button:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }

    .download-button {
        width: 100%;
    }
}





