<fuse-card class="mat-elevation-z2 p-4">
    <h1 class="mat-headline-5 mb-4">Revisor</h1>

    <!-- Primeira linha -->
    <div class="mat-elevation-z1 mb-4" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start stretch">
      <fuse-card fxFlex.gt-sm="30" fxFlex="100">
        <!-- <fuse-card-title>Entrada por Permissionário</fuse-card-title> -->
        <table mat-table [dataSource]="[{ area: 'Cantina', consumo: '0,00', reembolso: '0,00' }]" class="mat-elevation-z1 w-full">
          <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef> ÁREA </th>
            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
          </ng-container>
          <ng-container matColumnDef="consumo">
            <th mat-header-cell *matHeaderCellDef> CONSUMO </th>
            <td mat-cell *matCellDef="let element"> {{element.consumo}} </td>
          </ng-container>
          <ng-container matColumnDef="reembolso">
            <th mat-header-cell *matHeaderCellDef> REEMBOLSO </th>
            <td mat-cell *matCellDef="let element"> {{element.reembolso}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['area', 'consumo', 'reembolso']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['area', 'consumo', 'reembolso']"></tr>
        </table>
      </fuse-card>

      <fuse-card fxFlex.gt-sm="30" fxFlex="100">
        <!-- <mat-card-title>Operadores de Caixa</mat-card-title> -->
        <table mat-table [dataSource]="[]" class="mat-elevation-z1 w-full">
          <ng-container matColumnDef="caixasAbertos">
            <th mat-header-cell *matHeaderCellDef> CAIXAS ABERTOS </th>
            <td mat-cell *matCellDef="let element"> - </td>
          </ng-container>
          <ng-container matColumnDef="valorCaixa">
            <th mat-header-cell *matHeaderCellDef> VALOR EM CAIXA </th>
            <td mat-cell *matCellDef="let element"> - </td>
          </ng-container>
          <ng-container matColumnDef="sangrias">
            <th mat-header-cell *matHeaderCellDef> SANGRIAS </th>
            <td mat-cell *matCellDef="let element"> - </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['caixasAbertos', 'valorCaixa', 'sangrias']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['caixasAbertos', 'valorCaixa', 'sangrias']"></tr>
        </table>
      </fuse-card>

      <fuse-card fxFlex.gt-sm="30" fxFlex="100">
        <!-- <mat-card-title>Recolhido</mat-card-title> -->
        <table mat-table [dataSource]="[{ fechados: 'R$ 0,00', sangrias: 'R$ 0,00' }]" class="mat-elevation-z1 w-full">
          <ng-container matColumnDef="fechados">
            <th mat-header-cell *matHeaderCellDef> CAIXAS FECHADOS </th>
            <td mat-cell *matCellDef="let element"> {{element.fechados}} </td>
          </ng-container>
          <ng-container matColumnDef="sangrias">
            <th mat-header-cell *matHeaderCellDef> SANGRIAS </th>
            <td mat-cell *matCellDef="let element"> {{element.sangrias}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['fechados', 'sangrias']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['fechados', 'sangrias']"></tr>
        </table>
      </fuse-card>
    </div>

    <!-- Blocos coloridos -->
    <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="mb-4">
      <fuse-card fxFlex.gt-sm="24" fxFlex="100" color="primary" class="bg-primary text-white">
        <h2 class="mat-headline-6">0,00</h2>
        <p>Valor Consumido</p>
      </fuse-card>
      <fuse-card fxFlex.gt-sm="24" fxFlex="100" class="bg-accent text-white">
        <h2 class="mat-headline-6">0,00</h2>
        <p>Operadores de Caixa</p>
      </fuse-card>
      <fuse-card fxFlex.gt-sm="24" fxFlex="100" class="bg-warn text-white">
        <h2 class="mat-headline-6">0,00</h2>
        <p>Recolhido em Cofre</p>
      </fuse-card>
      <fuse-card fxFlex.gt-sm="24" fxFlex="100" style="background-color: #e53935; color: white">
        <h2 class="mat-headline-6">23.452,18</h2>
        <p>Saldo dos Cartões</p>
      </fuse-card>
    </div>

    <!-- Relatórios -->
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center center" class="mt-4">
      <button mat-button color="warn" mat-icon-button>
        <mat-icon>credit_card</mat-icon><br />
        Saldo dos Cartões
      </button>
      <button mat-button color="accent" mat-icon-button>
        <mat-icon>mail</mat-icon><br />
        Relatório Gerencial
      </button>
      <button mat-button color="primary" mat-icon-button>
        <mat-icon>person</mat-icon><br />
        Operador de Caixa<br />(Individual)
      </button>
    </div>

    <!-- Botão de fechar evento -->
    <div class="mt-4" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="accent">
        <mat-icon>close</mat-icon>
        Fechar Evento
      </button>
    </div>
  </fuse-card>
