<div class="flex-auto p-6 sm:p-10 h-full  overflow-y-hidden w-full">
    <div class="grid w-full min-w-0 grid-cols-1 gap-7 sm:grid-cols-2 md:grid-cols-3   overflow-y-hidden">
        <!-- Summary -->
        <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow">

            <app-summary-pemissionaries></app-summary-pemissionaries>

        </div>
        <!-- Overdue -->
        <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow">
            <app-summary-balance-clients></app-summary-balance-clients>
        </div>
        <!-- Issues -->
        <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow">
           <app-summary-balance-cashiers></app-summary-balance-cashiers>
        </div>
    </div>

    <br>

    <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-3">
        <app-summary-operations-graphic></app-summary-operations-graphic>
    </div>
</div>
