// Component-specific styles
.mat-button-toggle-group {
    padding: 1rem;
}
h1 {
    font-size: 2rem;
    color: #3f51b5;
    font-weight: bold;
    margin: 0; /* Remove o espaçamento padrão */
    padding: 1rem;
}

/* otp.component.css */
.otp-container {
    padding: 2rem;
    text-align: center;
    max-width: 400px;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 2rem 0;
  }
  
  .otp-inputs input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  .otp-inputs input:focus {
    outline: none;
    border-color: #2196F3;
  }
  .otp-inputs input:invalid {
    border-color: #ff4444;
    animation: shake 0.5s;
  }
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
  }  
  button {
    background-color: #2196F3;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #f44336;
    margin: 1rem 0;
  }
  
  .resend-otp {
    margin-top: 1rem;
  }

@media (max-width: 768px) {
     h1 {
    font-size: 1rem;
    color: #3f51b5;
    font-weight: bold;
    margin: 0; /* Remove o espaçamento padrão */
}
}